.home-top-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 15px;
  min-width: 450px;
}

.title-container {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 1px;
  width: 100%;
  border-radius: 10px;
  margin: 40px 0 15px 0;
  border-width: 20px;
}

.heading {
  font-size: 44px;
  font-family: "Roboto";
  font-weight: 600;
  color: #111;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  min-width: 450px;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  width: 150px;
  margin-left: 10px;
  height: 35px;
  border-width: 0px;
  color: #111;
  background-color: #fff;
  font-family: "Work sans";
  font-size: 16px;
  font-weight: 600;
}

.button:hover {
  width: 150px;
  margin-left: 10px;
  height: 35px;
  border-radius: 15px;
  border-width: 0px;
  color: #111;
  background-color: #68c6e8;
}

@media (max-width: 480px) {
  .home-top-container {
    min-width: auto;
  }
  .bottom-container {
    min-width: auto;
  }
}
